.video{
    width: 70%;
    margin: 15% auto 5%;
    
}
.video figure{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.video img{
    width: 80%;
    
    object-fit: contain;
    border-top: 6px solid #EC3737;;

}
.video-btm-text{
    position: absolute;
    top: 40%;
    left: 27%;
}
.video-btm-text div{
    font-size: 3rem;
    text-align: center;
    color: #EC3737;;
}
