


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  background-color: #0c0d0e;
  
}
ul{
  list-style: none;
}
.h-color{
  color: white;
}
.g-color{
  color: #fbfbfca6;
}
@media(max-width:600px){
  html{
    font-size: 62.5%;
  }
  body{
    font-size: 1.4rem;
  }
}
/* #EC3737; */